extend layout
block content
	.page-title.page-title-green.stacked-title
		.container
			.row.show-grid
				.span12
					h1 About Us
	.main-wrapper
		.main-content
			.container
				.main-content
		.container
				.row.show-grid
										
					.span7.features-block.product-features
						h3 
							strong Mission Statement
						p
							| We are the premier commercial flooring contractor in the Washington Metropolitan area, retaining a highly motivated, skilled and unified team of employees. We proactively address and effectively manage project requirements without compromising integrity. We surpass client expectations by building strong relationships, optimizing resources and consistently delivering outstanding quality service and value.
					.span5.product-image-wrapper
						img(src='/images/Personnel/whole_team.png', alt='The Team')
				.row.show-grid
					.span5.product-image-wrapper
						img(src='/images/Personnel/Faizi_Syed.png', alt='Faizi Syed ')
					.span7
						h3 
							strong History
						p
							| In 1998, Flooring Solutions, Inc. was formed under the leadership of Faizi Syed who brought twelve years of experience with him and a long list of new ideas that he was anxious to try. Most of the people that had worked for him in the past, stayed true to him and left their jobs and joined him. Armed with the support and trust of people he had trained, the march started. FSI was rewarded due to its hard work, committed people and attention to detail. Fourteen years later, FSI is still doing well and the group remains strong.