extend layout
block content
	.page-title.page-title-map.stacked-title
		.container
			.row.show-grid
				.span12
					h1 Contact Flooring Solutions, Inc.
	.main-wrapper
		.main-content
				.container
					.row.show-grid
						.span12(data-original-title='')
							.clear_both
							.col-wrapper
								.row.show-grid
									.contact-form.span8
										form#validForm
											.control-group
												label.control-label(for='inputName')
													| NAME
													sup *
												.controls
													input#inputName.span4(type='text', placeholder='Name')
													span.help-inline Please fill your name
											.control-group
												label.control-label(for='inputEmail')
													| EMAIL
													sup *
												.controls
													input#inputEmail.span4(type='text', placeholder='Email')
													span.help-inline Please correct your email
											.control-group
												label.control-label(for='textarea')
													| COMMENT
													sup *
												.controls
													textarea#textarea.span8(rows='4')
													span.help-inline Please write a comment
											.control-group.form-button-offset
												input.btn(type='submit', value='Send Message')
									.contact-info.span3.offset1.sidebar-baloon
										h2 Flooring Solutions, Inc.	
										address
											p
												| 22445 Powers Court
											p 
												| Sterling, Virginia 20166
											p
												| Phone: 703-450-9002
											p
												| Fax: 703-450-9006
											br
											| Email:
											em
												a(href='mailto:hello@example.com') hello@example.com
											
										.address-tick
									.line_title
										h2 Need Directions?
									iframe(style='width: 100%; height: 600px; border: none;', src='http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Flooring+Solutions+Inc+Powers+Court+Sterling+Virginia+20166&&aq=1&oq=Flooring+Solutions+Incie=UTF8&hq=&hnear=Flooring+Solutions+Inc+Powers+Court+Sterling+Virginia+20166&iwloc=A&output=embed')
