extend layout
block content
	.page-title.page-title-green.stacked-title
		.container
			.row.show-grid
				.span12
					h1 Environment
	.main-wrapper
		.main-content
				.container
					.row.show-grid 
						.span12
							.row.show-grid.team-member
								
								.span9
									h2 Environmental Capabilities
									p.experience
										em FSI is concerned about our industries’ impact on the environment + we are committed to partnering with our clients to achieve environmentally conscience design & construction.
									p
										| FSI is adept at delivering environmentally conscience projects. Our previous experience includes some of the most demanding projects such as the EPA & USGBC’s LEED Platinum certified HQ.
									p
										| Flooring Solutions has utilized a waste and recycling service with a Material Recovery Facility [MRF] since 2004. This service uses a single stream technology to process recyclable materials and operates under a LEED certified process. For the last four years, this service has processed all construction + shipping debris which is returned to FSI’s facility. Substantial quantities of blueprints + other paper products, plastic, glass, and metals are also readily recovered and recycled.

								.span3.photo
										img(alt='',style='width:100%;', src='/images/logos/leedLogo.png')
							.row.show-grid.team-member.padded-list
								.span6
									ul.unstyled.left-list
										li
											i.icon-ok.icon-large
											p LEED certified project, material, and VOC documentation + processing.
										li
											i.icon-ok.icon-large
											p Removal + Processing + Coordination of carpet for Reclamation.
										li
											i.icon-ok.icon-large
											p Donating of surplus materials for charitable re-use.
										li
											i.icon-ok.icon-large
											p Off-site off-gassing of flooring products.
								.span6
									ul.unstyled.left-list
										li
											i.icon-ok.icon-large
											p Preconstruction review for ‘Green-washing’ avoidance + material & process review for environmental alternates.
										li
											i.icon-ok.icon-large
											p Partnering with clients in leveraging manufacturers to meet and exceed project requirements.
										li
											i.icon-ok.icon-large
											p Electronic submittal of all seaming diagrams + O&M documentation.