extend layout
block content
	.page-title.page-title-green.stacked-title
		.container
			.row.show-grid
				.span12
					h1 Gallery
	.main-wrapper
		.main-content
			.container
				.portfolio-grid-1.main-block.col-wrapper
					ul#gallery-main.thumbnails.gallery
						
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Commercial/GateGourmet.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/GateGourmet.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Commercial/CBRE1.JPG', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/CBRE1.JPG')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Law-Firms/WileyRein.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/WileyRein.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Law-Firms/WileyRein2.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/WileyRein2.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Law-Firms/WileyRein5.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/WileyRein5.jpg')
						li.span3.small.hp-wrapper.item.isotope-item()
							a.top-link.thumbnail(href='Projects_files/DSC00334a.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/DSC00334a.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Condominiums-Hospitality/WillarHotel.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/WillarHotel.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Condominiums-Hospitality/Marriot(Rockville).jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/Marriot(Rockville).jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='')
							a.top-link.thumbnail(href='Projects_files/CH-029S.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/CH-029S.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='')
							a.top-link.thumbnail(href='Projects_files/CH-036S.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/CH-036S.jpg')
						li.span3.small.hp-wrapper.item.isotope-item()
							a.top-link.thumbnail(href='Projects_files/CH-039S.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/CH-039S.jpg')
						li.span3.small.hp-wrapper.item.isotope-item()
							a.top-link.thumbnail(href='Projects_files/CH-042S.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/CH-042S.jpg')
						li.span3.small.hp-wrapper.item.isotope-item()
							a.top-link.thumbnail(href='Projects_files/CH-046S.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/CH-046S.jpg')
						li.span3.small.hp-wrapper.item.isotope-item()
							a.top-link.thumbnail(href='Projects_files/CH-047S.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/CH-047S.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(s)
							a.top-link.thumbnail(href='Projects_files/CH-048S.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/CH-048S.jpg')
						li.span3.small.hp-wrapper.item.isotope-item()
							a.top-link.thumbnail(href='Projects_files/CH-050S.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/CH-050S.jpg')
						li.span3.small.hp-wrapper.item.isotope-item()
							a.top-link.thumbnail(href='Projects_files/CH-052S.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/CH-052S.jpg')
						li.span3.small.hp-wrapper.item.isotope-item()
							a.top-link.thumbnail(href='Projects_files/clouds.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/clouds.jpg')
						li.span3.small.hp-wrapper.item.isotope-item()
							a.top-link.thumbnail(href='Projects_files/pond4.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/pond4.jpg')
						li.span3.small.hp-wrapper.item.isotope-item()
							a.top-link.thumbnail(href='Projects_files/soccerball.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/soccerball.jpg')
						li.span3.small.hp-wrapper.item.isotope-item()
							a.top-link.thumbnail(href='Projects_files/railroadtrack.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/railroadtrack.jpg')
						li.span3.small.hp-wrapper.item.isotope-item()
							a.top-link.thumbnail(href='Projects_files/pond-hallway-4.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/pond-hallway-4.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Government/DOD.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/DOD.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Government/GSA-CSov(1).JPG', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/GSA-CSov(1).JPG')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Health/FairfaxPed.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/FairfaxPed.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Health/FF.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/FF.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Health/FFHI.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/FFHI.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Health/Stafford1.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/Stafford1.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Health/Stafford3.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/Stafford3.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Health/StaffordH..jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/StaffordH..jpg')
