extend layout
block content
	.page-title.page-title-orange.stacked-title
			.container
					.row.show-grid
						.span12
							h1 \\ reDesign GalleryMAIN CONTENT AREA 
			.main-wrapper
				.main-content
					.container
						.portfolio-grid-1.main-block.col-wrapper
							ul#gallery-main.thumbnails.gallery
								li.span3.small.hp-wrapper.item
									a.top-link.thumbnail(href='img/gal_1.jpg', data-rel='group')
										img.hover-shade(alt='', src='img/gal_hover.png')
										img(alt='', style='width: 220px; height: 160px;', src='img/item_220-160_02.jpg')
								li.span3.small.hp-wrapper.item
									a.top-link.thumbnail(href='img/gal_2.jpg', data-rel='group')
										img.hover-shade(alt='', src='img/gal_hover.png')
										img(alt='', style='width: 220px; height: 160px;', src='img/item_220-160_08.jpg')
								li.span3.small.hp-wrapper.item
									a.top-link.thumbnail(href='img/gal_3.jpg', data-rel='group')
										img.hover-shade(alt='', src='img/gal_hover.png')
										img(alt='', style='width: 220px; height: 160px;', src='img/item_220-160_04.jpg')
								li.span3.small.hp-wrapper.item
									a.top-link.thumbnail(href='img/gal_4.jpg', data-rel='group')
										img.hover-shade(alt='', src='img/gal_hover.png')
										img(alt='', style='width: 220px; height: 160px;', src='img/item_220-160_06.jpg')
								li.span3.small.hp-wrapper.item
									a.top-link.thumbnail(href='img/gal_5.jpg', data-rel='group')
										img.hover-shade(alt='', src='img/gal_hover.png')
										img(alt='', style='width: 220px; height: 160px;', src='img/item_220-160_05.jpg')
								li.span3.small.hp-wrapper.item
									a.top-link.thumbnail(href='img/gal_6.jpg', data-rel='group')
										img.hover-shade(alt='', src='img/gal_hover.png')
										img(alt='', style='width: 220px; height: 160px;', src='img/item_220-160_03.jpg')
								li.span3.small.hp-wrapper.item
									a.top-link.thumbnail(href='img/gal_7.jpg', data-rel='group')
										img.hover-shade(alt='', src='img/gal_hover.png')
										img(alt='', style='width: 220px; height: 160px;', src='img/item_220-160_01.jpg')
								li.span3.small.hp-wrapper.item
									a.top-link.thumbnail(href='img/gal_1.jpg', data-rel='group')
										img.hover-shade(alt='', src='img/gal_hover.png')
										img(alt='', style='width: 220px; height: 160px;', src='img/item_220-160_02.jpg')
								li.span3.small.hp-wrapper.item
									a.top-link.thumbnail(href='img/gal_2.jpg', data-rel='group')
										img.hover-shade(alt='', src='img/gal_hover.png')
										img(alt='', style='width: 220px; height: 160px;', src='img/item_220-160_08.jpg')
								li.span3.small.hp-wrapper.item
									a.top-link.thumbnail(href='img/gal_3.jpg', data-rel='group')
										img.hover-shade(alt='', src='img/gal_hover.png')
										img(alt='', style='width: 220px; height: 160px;', src='img/item_220-160_04.jpg')
								li.span3.small.hp-wrapper.item
									a.top-link.thumbnail(href='img/gal_4.jpg', data-rel='group')
										img.hover-shade(alt='', src='img/gal_hover.png')
										img(alt='', style='width: 220px; height: 160px;', src='img/item_220-160_06.jpg')
								li.span3.small.hp-wrapper.item
									a.top-link.thumbnail(href='img/gal_5.jpg', data-rel='group')
										img.hover-shade(alt='', src='img/gal_hover.png')
										img(alt='', style='width: 220px; height: 160px;', src='img/item_220-160_05.jpg')
	