extend layout
block content
	.page-title.page-title-blue.stacked-title
		.container
			.row.show-grid
				.span12
					h1 \\ reDesign GalleryMAIN CONTENT AREA 
	.main-wrapper
		.main-content
			.container
				.portfolio-grid-1.main-block.col-wrapper
					