extend layout
block content
	.main-wrapper
		.main-content
				.container
					.row.main-block
						.span12
							//MAIN CONTENT AREA: REDESIGN CUSTOM - HERO LIST 
							.row.show-grid.hero-list.features-list
								.span3
									.image-wrapper
										img(alt='', src='img/home_grid.png')
									h2 Clean Design
									p
										| Modern, clean design to give your business a highly professional appearance.
										a(href='#') Learn more »
								.span3
									.image-wrapper
										img(alt='', src='img/home_gears.png')
									h2 Flexible Layout
									p
										| Flexible page layout templates to help you quickly organize your website's content.
										a(href='#') Learn more »
								.span3
									.image-wrapper
										img(alt='', src='img/home_arrow.png')
									h2 Quick Shortcuts
									p
										| Dozens of unique shortcuts to add your own cool and custom flare and personal style.
										a(href='#') Learn more »
								.span3
									.image-wrapper
										img(alt='', src='img/home_arrows.png')
									h2 Responsive Action
									p
										| Ultra-responsive action so your pages work beautifully on practically any device.
										a(href='#') Learn more »
					//FREE TRIAL PROMO BOX 
					.hero-unit.dark-hero
						h1
							span Signup
							| for a
							span Free Trial
							| Now
						ul.unstyled
							li Easy, no-hassle sign-up
							li |
							li Free 30-day trial
							li |
							li Pricing starts at just $27/year after trial period
						a.btn.btn-large.btn-primary Sign Up
					.row.show-grid.features-block.mini-blocks
						.span4.block1
							.mini-wrapper
								h2 Recent Software Updates
								ul.soft-updates
									li
										.date-img
											span.top-date NOV
											span.bottom-date 3
										p Version 3.0 of reDesign has been released
										a(href='product-release-history.html') details
									li
										.date-img
											span.top-date OCT
											span.bottom-date 28
										p Version 2.4 of reDesign has been released
										a(href='product-release-history.html') details
									li
										.date-img
											span.top-date SEP
											span.bottom-date 17
										p Version 2.3 of reDesign has been released
										a(href='product-release-history.html') details
						.span4.block2
							.mini-wrapper
								h2 What People Are Saying
								ul
									li
										blockquote.greyb
											p
												| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
											small
												strong Katherine Anne
												| - barcamp BRISSBANE
									li
										blockquote.greyb
											p
												| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
											small
												strong James Riley
												| - Engenharia Ambiental
						.span4.block3
							.mini-wrapper
								h2 A Few Of Our Customers
								ul.mini-clients
									li
										img(src='img/client_001.png', alt='')
									li
										img(style='margin-left: -14px;', src='img/client_002.png', alt='')
									li
										img(src='img/client_003.png', alt='')
