extend layout
block content
	.container
		.fullwidthbanner-container
			.banner
				ul 
					li.slide1(data-transition='slotfade-horizontal', data-masterspeed='300', data-slotamount='20')
						img(alt='', src='img/slide_01.png')
						
						.caption.lfb.carousel-caption(data-x='-150', data-y='-20', data-speed='1000', data-start='1000', data-easing='easeOutBack', style='background: none;')
							img(alt='', src='http://flooringsolutionsinc.com/ESW/Images/3.1_Healthcare_interior_large_photo_13_%28Medium%29.jpg')
						.caption.lfb.carousel-caption(data-x='500', data-y='-20', data-speed='1000', data-start='1000', data-easing='easeOutBack', style='background: none;')
							img(alt='', src='http://flooringsolutionsinc.com/ESW/Images/1.3_Installation2.jpg')
					
					li.slide2(data-transition='slotfade-horizontal', data-masterspeed='300', data-slotamount='20')
						img(alt='', src='img/slide_01.png')
						.caption.lfb.carousel-caption(data-x='410', data-y='-20', data-speed='1000', data-start='1000', data-easing='easeOutBack', style='background: none;')
							img(alt='', src='/images/DSC00346a.jpg')
						.caption.lfb.carousel-caption(data-x='-200', data-y='-20', data-speed='1000', data-start='1000', data-easing='easeOutBack', style='background: none;')
							img(alt='', src='/images/CovLife-Church-011.jpg')
					li.slide3(data-transition='slotfade-horizontal', data-masterspeed='300', data-slotamount='20')
						img(alt='', src='img/slide_01.png')
						.caption.lfb.carousel-caption(data-x='-150', data-y='-20', data-speed='1000', data-start='1000', data-easing='easeOutBack', style='background: none;')
							img(alt='', src='http://flooringsolutionsinc.com/ESW/Images/3.1_Healthcare_interior_large_photo_13_%28Medium%29.jpg')
						.caption.lfb.carousel-caption(data-x='500', data-y='-20', data-speed='1000', data-start='1000', data-easing='easeOutBack', style='background: none;')
							img(alt='', src='http://flooringsolutionsinc.com/ESW/Images/5._Contact_us.jpg')
				.tp-bannertimer

	.main-wrapper
		.main-content
				.container
					.row.main-block
						.span12
							.row.show-grid.hero-list.features-list
								.span4
									.image-wrapper
										img(alt='', src='img/home_grid.png')
									h2 All your flooring needs
									p
										| Flooring Solutions, Inc. is a full service contracting firm providing quality flooring products and installation to commercial and residential customers throughout the Washington D.C. Metropolitan area.
										a(href="/about") Learn More &nbsp;&raquo;
								.span4
									.image-wrapper(style="min-height:50px;")
										img(alt='', src='img/icon_check.png',style="height:40px;")
									h2 Exceptional customer service
									p
										| We intend for Flooring Solutions, Inc. to be the zenith of customer service.  FSI has built its reputation by honoring commitments and maintaining open lines of communication with both customers and vendors.
										a(href="/services") Learn More &nbsp;&raquo;
								.span4
									.image-wrapper
										img(alt='', src='img/home_gears.png')
									h2 Diverse solutions
									p
										| FSI provides custom solutions to a wide range of businesses and industries.  From our small project division capable of handling a single office, to our commercial, government, and healthcare divisions that are capable of handling 1 million square feet independently.
										a(href="/projects") Learn More &nbsp;&raquo;
					.main-block.clients
						.line_title
							h2
								a.all(href='/projects') A few of our awesome clients
						.row.show-grid
							.span12
								#clients.row.show-grid
									.span4.clear-both.hp-wrapper
										img(alt='', src='images/logos/home-logo.png')
									.span4.hp-wrapper
										img(alt='', src='images/logos/world-bank-logo2.jpg')
									.span4.hp-wrapper
										img(alt='', src='images/logos/logo-ceb2.png')
									
