!!!5
html
	head
		//
			SEO STUFF START HERE 
		title reDesign Home Page
		meta(name='keywords', content='')
		meta(name='description', content='')
		meta(name='author', content='')
		meta(name='robots', content='follow, index')
		//
			SEO STUFF END 
		meta(http-equiv='Content-Type', content='text/html;charset=utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		//
			revolution slider plugin : begin 
		link(rel='stylesheet', type='text/css', href='rs-plugin/css/settings.css', media='screen')
		link(rel='stylesheet', type='text/css', href='css/rs-responsive.css', media='screen')
		//
			revolution slider plugin : end 
		link(rel='stylesheet', href='css/bootstrap.css')
		link(rel='stylesheet', href='css/custom.css')
		link(rel='stylesheet', href='css/css3-menu.css')
		link(rel='stylesheet', href='css/isotope.css')
		link(rel='stylesheet', href='css/color_scheme.css')
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Raleway:400,900,500,600,700,800', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='css/font-awesome.css')
		link(rel='stylesheet', href='css/font-awesome-ie7.css')
		link(rel='stylesheet', href='css/flexslider.css')
		link(rel='stylesheet', href='css/jquery.fancybox.css?v=2.1.0', type='text/css', media='screen')
		//if lte IE 8
			link(rel='stylesheet', type='text/css', href='css/IE-fix.css')
	body
		.top_line
		header
			.container
			.row
				//HEADER: LOGO AREA 
				.span4.logo
					a.logo(href='index.html')
						img(alt='logo', title='ReDesign', src='img/logo.png')
				.span4.offset4
					//
						HEADER: PHONE NUMBER 
					p.head_phone
						span.icon-phone
						a(href='tel:703-450-9002') 703-450-9002
		.navbar-wrapper
			.container
				.navbar
					.navbar-inner
						.buttons-container
						ul#css3-menu.blue.nav
							li
								a(href="/") Home
							li 
								a(href="/about") About
							li
								a Services
							li
								a Products
							li
								a(href="/portfollio") Gallery
							li
								a Contact Us

		.main-wrapper
			.main-content
				.container
					block content
		footer#footer
			.footer-top
				.footer-wrapper
					.container
						.row.show-grid
							.span12
								.row.show-grid
									.span4
										img.footer-logo(alt='', src='img/grey_logo.png')
										address.address
											p
												i.icon-map-marker.icon-large
												| 22445 Powers Court
											p
												i  
												| Sterling, Virginia 20166
											p
												i.icon-phone.icon-large
												| Phone: 703-450-9002
											p
												i.icon-print.icon-large
												| Fax: 703-450-9006
									.span4.footer-center
										h4.center-title About Us
										p
											| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat.
										p
											| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus.
									//FOOTER: NAVIGATION LINKS 
									.span4.footer-right
										h4.center-title Navigate
										ul.footer-navigate
											li
												a(href='') Home
											li
												a(href='') About
											li
												a(href='') Services
											li
												a(href='') Products
											li
												a(href='') Portfolio
											li
												a(href='') Contact
		script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
		script(type='text/javascript', src='js/bootstrap.js')
		script(type='text/javascript', src='js/jquery.flexslider-min.js')
		script(type='text/javascript', src='js/jquery.isotope.js')
		script(type='text/javascript', src='js/jquery.imagesloaded.min.js')
		script(type='text/javascript', src='js/jquery.fancybox.pack.js?v=2.1.0')
		script(type='text/javascript', src='rs-plugin/js/jquery.themepunch.plugins.min.js')
		script(type='text/javascript', src='rs-plugin/js/jquery.themepunch.revolution.min.js')
		script(type='text/javascript', src='js/revolution.custom.js')
		script(type='text/javascript', src='js/custom.js')


