!!!5
html.csstransforms.csstransitions
	head
		//
			SEO STUFF START HERE 
		title #{title}

		meta(name='keywords', content='')
		meta(name='description', content='')
		meta(name='author', content='')
		meta(name='robots', content='follow, index')
		//
			SEO STUFF END 
		meta(http-equiv='Content-Type', content='text/html;charset=utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		//
			revolution slider plugin : begin 
		link(rel='stylesheet', type='text/css', href='rs-plugin/css/settings.css', media='screen')
		link(rel='stylesheet', type='text/css', href='css/rs-responsive.css', media='screen')
		//
			revolution slider plugin : end 
		link(rel='stylesheet', href='css/bootstrap.css')
		link(rel='stylesheet', href='css/custom.css')
		link(rel='stylesheet', href='css/css3-menu.css')
		link(rel='stylesheet', href='css/isotope.css')
		link(rel='stylesheet', href='css/color_scheme.css')
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Raleway:400,900,500,600,700,800', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='css/font-awesome.css')
		link(rel='stylesheet', href='css/font-awesome-ie7.css')
		link(rel='stylesheet', href='css/flexslider.css')
		link(rel='stylesheet', href='css/jquery.fancybox.css?v=2.1.0', type='text/css', media='screen')
		//if lte IE 8
			link(rel='stylesheet', type='text/css', href='css/IE-fix.css')
	body
		.top_line
		header
			.container
				.row
					//HEADER: LOGO AREA 
					.span8.logo
						a.logo(href='/')
							img(alt='logo', title='ReDesign', src='images/fsi-logo-new.png')
					.span3.offset1
						//
							HEADER: PHONE NUMBER 
						p.head_phone
							span.icon-phone
							a(href='tel:703-450-9002') 703-450-9002
		.navbar-wrapper.green
			.container
				.navbar
					.navbar-inner
						.buttons-container
						ul#css3-menu.green.nav
							li
								a(href="/") Home
							li 
								a(href="/about") About
							li
								a(href="/services") Services
							li
								a(href="/products") Products
							li
								a(href="/portfolio") Gallery
							li
								a(href="/projects") Projects
							li
								a(href="/contactus") Contact Us

		block content
		footer#footer
			.footer-top
				.footer-wrapper
					.container
						.row.show-grid
							.span12
								.row.show-grid
									.span4
										img.footer-logo(alt='', src='img/grey_logo.png')
										address.address
											p
												i.icon-map-marker.icon-large
												| 22445 Powers Court
											p
												i  
												| Sterling, Virginia 20166
											p
												i.icon-phone.icon-large
												| Phone: 703-450-9002
											p
												i.icon-print.icon-large
												| Fax: 703-450-9006
									.span4.footer-center
										h4.center-title About Us
										p
											| We are the premiere commercial flooring contractor in the Washington, D.C. region retaining a highly motivated, skilled and unified team of employees. We proactively address and effectively manage project requirements without compromising integrity.
									//FOOTER: NAVIGATION LINKS 
									.span4.footer-right
										h4.center-title Navigate
										ul.footer-navigate
											li
												a(href="/") Home
											li 
												a(href="/about") About
											li
												a(href="/services") Services
											li
												a(href="/products") Products
											li
												a(href="/portfolio") Gallery
											li
												a(href="/projects") Projects
											li
												a(href="/contactus") Contact Us
			.footer-bottom(style="display:none;")
				.container
					.row.show-grid
						.span12
							p
								| Copyright 2013 Flooring Solutions, Inc. 
								| Powered by 
								a(href='http://www.themeleaf.com') Themeleaf

		script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
		script(type='text/javascript', src='js/bootstrap.js')
		script(type='text/javascript', src='js/jquery.flexslider-min.js')
		script(type='text/javascript', src='js/jquery.isotope.js')
		script(type='text/javascript', src='js/jquery.imagesloaded.min.js')
		script(type='text/javascript', src='js/jquery.fancybox.pack.js?v=2.1.0')
		script(type='text/javascript', src='rs-plugin/js/jquery.themepunch.plugins.min.js')
		script(type='text/javascript', src='rs-plugin/js/jquery.themepunch.revolution.min.js')
		script(type='text/javascript', src='js/revolution.custom.js')
		script(type='text/javascript', src='js/custom.js')


