extend layout
block content
	.page-title.page-title-green.stacked-title
		.container
			.row.show-grid
				.span12
					h1 Flooring Solutions
	.main-wrapper
		.main-content
				.container
					.row.show-grid 
						.span12
							.row.show-grid.team-member
								
								.span8
									h3 Our Facilities
									p
										| Our built-to-suite 65,000 sf facility is located near Dulles Airport – in Sterling, VA. Our warehouse facilities allow us to efficiently receive, stock, store, prep, and dispatch large volumes of materials – on a daily basis.  This exceptional resource allows us to control both delivery lead times for our clients, and daily jobsite material stocking requirements.  Our office and warehouse our contained in one building. This centralized facility promotes real-time communication between our staff, mechanics, and product distribution - which conveys to our clients in delivering effective Project Management.
								.span4.photo
									.bordered-img
										img(alt='',style='width:100%;', src='/images/Personnel/warehouse4.jpg')
								.span6.photo
									.bordered-img
										img(alt='',style='width:100%;', src='/images/Personnel/warehouse5.jpg')
								.span6.photo
									.bordered-img
										img(alt='',style='width:100%;', src='/images/Personnel/warehouse3.jpg')
								
							.row.show-grid.team-member
								.span4.photo
									.bordered-img
										img(alt='Project Executives',style="width:100%",src='/images/Personnel/materialsHandling.png')	
								.span8
									h3 Our Material Handling Technology
									p.experience
										em We utilize state of the art material processing technology to gain efficiency and deliver value.  A few examples include:
									p
										| A cross-integrated computer management system with real-time life-cycle tracking of all project materials – inclusive of bar coded inventory tagging + tracking.  Laser field measurements – digitally uploaded to our estimating software.  Automated broadloom carpet cutting machinery (photo at left).

								
							.row.show-grid.team-member
								
								.span8
									h3 Our Project Management Technology
									p.experience
										em We utilize advanced technology to proactively manage our projects – This is exemplified by our computer systems.
									p
										| A cross-integrated computer management system with real-time life-cycle tracking of all project materials – inclusive of bar coded inventory tagging + tracking.  Laser field measurements – digitally uploaded to our estimating software.  Automated broadloom carpet cutting machinery (photo at left).
								.span4.photo
									.bordered-img
										img(alt='',style='width:100%;', src='/images/Personnel/projectTech.png')