extend layout
block content
	.page-title.page-title-blue.stacked-title
		.container
			.row.show-grid
				.span12
					h1 \\ reDesign GalleryMAIN CONTENT AREA 
	.main-wrapper
		.main-content
			.container
				.portfolio-grid-1.main-block.col-wrapper
					ul#gallery-main.thumbnails.gallery
						li.span3.small.hp-wrapper.item.isotope-item(style='position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);')
							a.top-link.thumbnail(href='Projects_files/DSC00329a.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/DSC00329a.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);')
							a.top-link.thumbnail(href='Projects_files/DSC00334a.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/DSC00334a.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);')
							a.top-link.thumbnail(href='Projects_files/DSC00338a.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/DSC00338a.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);')
							a.top-link.thumbnail(href='Projects_files/DSC00346a.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/DSC00346a.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);')
							a.top-link.thumbnail(href='Projects_files/DSC00347a.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/DSC00347a.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);')
							a.top-link.thumbnail(href='Projects_files/DSC00366a.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/DSC00366a.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);')
							a.top-link.thumbnail(href='Projects_files/DSC00331a.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/DSC00331a.jpg')
						
						li.span3.small.hp-wrapper.item.isotope-item(style='position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);')
							a.top-link.thumbnail(href='Projects_files/CovLife-Church-003.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/CovLife-Church-003.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);')
							a.top-link.thumbnail(href='Projects_files/CovLife-Church-004.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/CovLife-Church-004.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);')
							a.top-link.thumbnail(href='Projects_files/CovLife-Church-009.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/CovLife-Church-009.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);')
							a.top-link.thumbnail(href='Projects_files/CovLife-Church-010.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/CovLife-Church-010.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);')
							a.top-link.thumbnail(href='Projects_files/CovLife-Church-011.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/CovLife-Church-011.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);')
							a.top-link.thumbnail(href='Projects_files/CovLife-Church-016.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/CovLife-Church-016.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);')
							a.top-link.thumbnail(href='Projects_files/CovLife-Church-021.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/CovLife-Church-021.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);')
							a.top-link.thumbnail(href='Projects_files/CovLife-Church-027.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/CovLife-Church-027.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);')
							a.top-link.thumbnail(href='Projects_files/CovLife-Church-031.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/CovLife-Church-031.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);')
							a.top-link.thumbnail(href='Projects_files/CovLife-Church-030.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/CovLife-Church-030.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);')
							a.top-link.thumbnail(href='Projects_files/CovLife-Church-022.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/CovLife-Church-022.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);')
							a.top-link.thumbnail(href='Projects_files/CovLife-Church-024.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/CovLife-Church-024.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);')
							a.top-link.thumbnail(href='Projects_files/CH-029S.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/CH-029S.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);')
							a.top-link.thumbnail(href='Projects_files/CH-036S.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/CH-036S.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);')
							a.top-link.thumbnail(href='Projects_files/CH-039S.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/CH-039S.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);')
							a.top-link.thumbnail(href='Projects_files/CH-042S.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/CH-042S.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);')
							a.top-link.thumbnail(href='Projects_files/CH-046S.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/CH-046S.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);')
							a.top-link.thumbnail(href='Projects_files/CH-047S.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/CH-047S.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);')
							a.top-link.thumbnail(href='Projects_files/CH-048S.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/CH-048S.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);')
							a.top-link.thumbnail(href='Projects_files/CH-050S.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/CH-050S.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);')
							a.top-link.thumbnail(href='Projects_files/CH-052S.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/CH-052S.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);')
							a.top-link.thumbnail(href='Projects_files/clouds.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/clouds.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);')
							a.top-link.thumbnail(href='Projects_files/pond4.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/pond4.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);')
							a.top-link.thumbnail(href='Projects_files/soccerball.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/soccerball.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);')
							a.top-link.thumbnail(href='Projects_files/railroadtrack.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/railroadtrack.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);')
							a.top-link.thumbnail(href='Projects_files/pond-hallway-4.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/pond-hallway-4.jpg')
