extend layout
block content
	.page-title.page-title-blue.stacked-title
		.container
			.row.show-grid
				.span12
					h1 Products
	.main-wrapper
		.main-content
			.container
				.main-content
		.container
				.row.show-grid
					.features-block.product-features
						p
							| Flooring Solutions, Inc. offers only the highest quality in commercial flooring products and shares this same commitment with our manufacturers. Our network of suppliers offers clients a full range of flooring customization with the most up to date products offered at a competitive price.
				
				.main-block.clients
						.line_title
							h2
								a.all(href='#') A few of our awesome clients
						.row.show-grid
							.span12
								#clients.row.show-grid
									.span3.clear-both.hp-wrapper
										img(alt='', src='img/client_001.png')
									.span3.hp-wrapper
										img(alt='', src='img/client_002.png')
									.span3.hp-wrapper
										img(alt='', src='img/client_003.png')
									.span3.hp-wrapper
										img(alt='', src='img/client_004.png')