extend layout
block content
	.page-title.page-title-green.stacked-title
		.container
			.row.show-grid
				.span12
					h1 Products
	.main-wrapper
		.main-content
			.container
				.main-content
					.features-block.product-features
						p
							| Flooring Solutions, Inc. offers only the highest quality in commercial flooring products and shares this same commitment with our manufacturers. Our network of suppliers offers clients a full range of flooring customization with the most up to date products offered at a competitive price.
		.container
				.line_title
							h2
								| Our Products
				.row.show-grid
					.span5
						.span5.product-image-wrapper
							img(src='images/companies/amticoLogo.png', alt='The Team',style="background:rgb(50,50,50)")
						.span5.product-image-wrapper
							img(src='images/companies/armstronglogo.gif', alt='The Team')
						.span5.product-image-wrapper
							img(src='images/companies/bigelowlogo.gif', alt='The Team')
						.span5.product-image-wrapper
							img(src='images/companies/BOLYU_9546.png', alt='The Team')
						.span5.product-image-wrapper
							img(src='images/companies/bps_header_title_9032.gif', alt='The Team')
						.span5.product-image-wrapper
							img(src='images/companies/brucelogo.jpg', alt='The Team',style="background:rgb(50,50,50)")
						.span5.product-image-wrapper
							img(src='images/companies/constantine.jpg', alt='The Team')
						.span5.product-image-wrapper
							img(src='images/companies/fobologo.gif', alt='The Team')
						.span5.product-image-wrapper
							img(src='images/companies/interfacelogo.gif', alt='The Team')
						.span5.product-image-wrapper
							img(src='images/companies/jjlogo.png', alt='The Team')
						.span5.product-image-wrapper
							img(src='images/companies/johnsonitelogo_8239.gif', alt='The Team',style="background:rgb(50,50,50)")
						.span5.product-image-wrapper
							img(src='images/companies/karastanlogo.png', alt='The Team')
					.span5
						.span5.product-image-wrapper
							img(src='images/companies/leeslogo.png', alt='The Team')
						.span5.product-image-wrapper
							img(src='images/companies/mannington-header-logo.png', alt='The Team', style="background:rgb(50,50,50);")
						.span5.product-image-wrapper
							img(src='images/companies/maslogo.png', alt='The Team')
						.span5.product-image-wrapper
							img(src='images/companies/masthead-logo.gif', alt='The Team')
						.span5.product-image-wrapper
							img(src='images/companies/millikenLogo.png', alt='The Team')
						.span5.product-image-wrapper
							img(src='images/companies/mohawklogo.gif', alt='The Team')
						.span5.product-image-wrapper
							img(src='images/companies/roope_2889.jpg', alt='The Team')
						.span5.product-image-wrapper
							img(src='images/companies/shaw-logo.png', alt='The Team')
						.span5.product-image-wrapper
							img(src='images/companies/tandus_logo.gif', alt='The Team')
						.span5.product-image-wrapper
							img(src='images/companies/toli_header_01.jpg', alt='The Team')