extend layout
block content
	.page-title.page-title-green.stacked-title
		.container
			.row.show-grid
				.span12
					h1 Projects
	.main-wrapper
			.main-content
					.container
						.col-wrapper
							.portfolio-nav
								ul#filters.nav.nav-pills.nav-pills-portfolio(data-option-key='filter',style="display:none;")
									li.active
										a(href='#', data-toggle='pill', data-filter='*') All
									li
										a(href='#', data-toggle='pill', data-filter='.web') Web
									li
										a(href='#', data-toggle='pill', data-filter='.print') Print
									li
										a(href='#', data-toggle='pill', data-filter='.photo') Photo
									li
										a(href='#', data-toggle='pill', data-filter='.video') Video
							.portfolio-grid-1.main-block
								ul#gallery.thumbnails
									li.span3.small.hp-wrapper.web
										a(href='/arts')
											img.hover-shade(alt='', src='img/220_arrow_hover.png')
										a.top-link(href='/arts')
											img(alt='', style='width: 220px; height: 160px;', src='img/item_220-160_01.jpg')
										.bottom-block
											a(href='/arts') Arts and Entertainment
											p Art Institute Rosslyn -National Museum of American History
									li.span3.small.hp-wrapper.print
										a(href='#')
											img.hover-shade(alt='', src='img/220_arrow_hover.png')
										a.top-link(href='#')
											img(alt='', style='width: 220px; height: 160px;', src='img/item_220-160_02.jpg')
										.bottom-block
											a(href='#') Commercial 
											p Corporate Executive Board -Potomac Center North -CACI -World Bank Washington DC
									li.span3.small.hp-wrapper.web.print
										a(href='#')
											img.hover-shade(alt='', src='img/220_arrow_hover.png')
										a.top-link(href='#')
											img(alt='', style='width: 220px; height: 160px;', src='img/item_220-160_03.jpg')
										.bottom-block
											a(href='#') Condominiums
											p 912 F Street -Hawthorn -Reston Midtown -Phoenix -Senate Square -Dumont -Palatine -Lionsgate
									li.span3.small.hp-wrapper.print.photo
										a(href='#')
											img.hover-shade(alt='', src='img/220_arrow_hover.png')
										a.top-link(href='#')
											img(alt='', style='width: 220px; height: 160px;', src='img/item_220-160_04.jpg')
										.bottom-block
											a(href='#') Education
											p Brookings Institute -Argosy University -Gallaudet University
									li.span3.small.hp-wrapper.web.print
										a(href='#')
											img.hover-shade(alt='', src='img/220_arrow_hover.png')
										a.top-link(href='#')
											img(alt='', style='width: 220px; height: 160px;', src='img/item_220-160_05.jpg')
										.bottom-block
											a(href='#') Fitness
											p Minshall Steward Fitness Center -Body Dynamics
									li.span3.small.hp-wrapper.photo
										a(href='#')
											img.hover-shade(alt='', src='img/220_arrow_hover.png')
										a.top-link(href='#')
											img(alt='', style='width: 220px; height: 160px;', src='img/item_220-160_06.jpg')
										.bottom-block
											a(href='#') Government
											p Aerospace Corporation Chantilly -National Cancer Institute
									li.span3.small.hp-wrapper.video.web
										a(href='#')
											img.hover-shade(alt='', src='img/220_arrow_hover.png')
										a.top-link(href='#')
											img(alt='', style='width: 220px; height: 160px;', src='img/item_220-160_07.jpg')
										.bottom-block
											a(href='#') Health
											p Inova Fairfax Heart Institute -Inova Fairfax Claude Moore -Inova Loudoun ICU
									li.span3.small.hp-wrapper.photo
										a(href='#')
											img.hover-shade(alt='', src='img/220_arrow_hover.png')
										a.top-link(href='#')
											img(alt='', style='width: 220px; height: 160px;', src='img/item_220-160_08.jpg')
										.bottom-block
											a(href='#')  Law Firms
											p Wiley Rein -Dickstein Shappiro -Holland & Knight
