extend layout
block content
	.page-title.page-title-green.stacked-title
		.container
			.row.show-grid
				.span12
					h1 Portfolio
	.main-wrapper
			.main-content
					.container
						.col-wrapper
							.portfolio-nav
								ul#filters.nav.nav-pills.nav-pills-portfolio(data-option-key='filter',style="display:none;")
									li.active
										a(href='#', data-toggle='pill', data-filter='*') All
									li
										a(href='#', data-toggle='pill', data-filter='.web') Web
									li
										a(href='#', data-toggle='pill', data-filter='.print') Print
									li
										a(href='#', data-toggle='pill', data-filter='.photo') Photo
									li
										a(href='#', data-toggle='pill', data-filter='.video') Video
							.portfolio-grid-1.main-block
								.span10
									ul#gallery.thumbnails
										
										li.span3.small.hp-wrapper.print
											a(href='/commercial.html')
												img.hover-shade(alt='', src='img/220_arrow_hover.png')
											a.top-link(href='/commercial.html')
												img(alt='', style='width: 220px; height: 160px;', src='/images/Commercial/CBRE1_thumb.jpg')
											.bottom-block
												a(href='/commercial.html') Commercial 
												p Corporate Executive Board -Potomac Center North -CACI -World Bank Washington DC
										li.span3.small.hp-wrapper.web.print
											a(href='/condominiums.html')
												img.hover-shade(alt='', src='img/220_arrow_hover.png')
											a.top-link(href='/condominiums.html')
												img(alt='', style='width: 220px; height: 160px;', src='/images/Condominiums-Hospitality/WillarHotel.jpg')
											.bottom-block
												a(href='/condominiums.html') Condominiums and Hospitaltiy
												p 912 F Street -Hawthorn -Reston Midtown -Phoenix -Senate Square -Dumont -Palatine -Lionsgate
										li.span3.small.hp-wrapper.print.photo
											a(href='/education.html')
												img.hover-shade(alt='', src='img/220_arrow_hover.png')
											a.top-link(href='/education.html')
												img(alt='', style='width: 220px; height: 160px;', src='/images/Education/WalkerNaturePictures005_thumb.jpg')
											.bottom-block
												a(href='/education.html') Education
												p Brookings Institute -Argosy University -Gallaudet University
										
										li.span3.small.hp-wrapper.photo
											a(href='/government.html')
												img.hover-shade(alt='', src='img/220_arrow_hover.png')
											a.top-link(href='/government.html')
												img(alt='', style='width: 220px; height: 160px;', src='/images/Government/DepartmentofDefense.jpg')
											.bottom-block
												a(href='/government.html') Government
												p Aerospace Corporation Chantilly -National Cancer Institute
										li.span3.small.hp-wrapper.video.web
											a(href='/health.html')
												img.hover-shade(alt='', src='img/220_arrow_hover.png')
											a.top-link(href='/health.html')
												img(alt='', style='width: 220px; height: 160px;', src='/images/Health/INOVALLoudoun_thumb.jpg')
											.bottom-block
												a(href='/health.html') Health
												p Inova Fairfax Heart Institute -Inova Fairfax Claude Moore -Inova Loudoun ICU
										li.span3.small.hp-wrapper.web.print
											a(href='/floorleveling.html')
												img.hover-shade(alt='', src='img/220_arrow_hover.png')
											a.top-link(href='/floorleveling.html')
												img(alt='', style='width: 220px; height: 160px;', src='/images/Commercial/Airbus3_thumb.jpg')
											.bottom-block
												a(href='/floorleveling.html') Floor leveling
												p Minshall Steward Fitness Center -Body Dynamics
									