
	link(rel='stylesheet', type='text/css', href='rs-plugin/css/settings.css', media='screen')
	link(rel='stylesheet', type='text/css', href='css/rs-responsive.css', media='screen')

	link(rel='stylesheet', href='css/bootstrap.css')
	link(rel='stylesheet', href='css/custom.css')
	link(rel='stylesheet', href='css/css3-menu.css')
	link(rel='stylesheet', href='css/isotope.css')
	link(rel='stylesheet', href='css/color_scheme.css')
	link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic', rel='stylesheet', type='text/css')
	link(href='http://fonts.googleapis.com/css?family=Raleway:400,900,500,600,700,800', rel='stylesheet', type='text/css')
	link(rel='stylesheet', href='css/font-awesome.css')
	link(rel='stylesheet', href='css/font-awesome-ie7.css')
	link(rel='stylesheet', href='css/flexslider.css')
	link(rel='stylesheet', href='css/jquery.fancybox.css?v=2.1.0', type='text/css', media='screen')
	//if lte IE 8
		link(rel='stylesheet', type='text/css', href='css/IE-fix.css')