extend layout
block content
	.page-title.page-title-blue.stacked-title
		.container
			.row.show-grid
				.span12
					h1 Services
	.main-content
			.container
					.row.show-grid
						.span12
							.row.show-grid
								#left-sidebar.span3.sidebar(style="")
									.sidebar-baloon.sidebar-grey-box
										p
											| If you can’t find the answer to your question in our documentation or FAQs page please contact our support team at the email address below.
										p
											strong Email Support
											br
											a(href='mailto:support@redesign.com') support@redesign.com
										p
											| If you’d like to consider hiring us to customize the reDesign theme for your organization then please contact our sales team for a price quotation.
										p
											strong Email Sales
											br
											a(href='mailto:sales@redesign.com') sales@redesign.com
								.span9.main-column.two-columns-left
									h2.faq-title Special Services
									#accordion2.accordion
										.accordion-group
											.accordion-heading
												a.accordion-toggle.collapsed(href='#collapseOne', data-parent='#accordion2', data-toggle='collapse')
													| Budgeting
											#collapseOne.accordion-body.collapse(style='height: 0px;')
												.accordion-inner
													| Flooring Solutions has for years provided, helped prepared and advised our preferred customers.  We have the ability to download from FTP Sites and our state of the Art system color codes and reproduces drawings which are easy on the eye and minimize the possibility of error.
										.accordion-group
											.accordion-heading
												a.accordion-toggle.collapsed(href='#collapseTwo', data-parent='#accordion2', data-toggle='collapse')
													| Estimation and Reproduction of Color Coded Drawings
											#collapseTwo.accordion-body.in.collapse(style='height: 0px;')
												.accordion-inner
													| need info here
										.accordion-group
											.accordion-heading
												a.accordion-toggle.collapsed(href='#collapseThree', data-parent='#accordion2', data-toggle='collapse')
													| Quality Installation
											#collapseThree.accordion-body.collapse(style='height: 0px;')
												.accordion-inner
													| Flooring Solutions' customers are satisfied because they get a quality installation.  Twice Flooring Solutions Inc was awarded "Craftsman of the Year".  FSI is fortunate to have partnered with select installers who are experts in their field and are certified, licensed and insured.
										.accordion-group
											.accordion-heading
												a.accordion-toggle.collapsed(href='#collapseFour', data-parent='#accordion2', data-toggle='collapse')
													| Furniture Lift and Installation
											#collapseFour.accordion-body.in.collapse(style='height: 0px;')
												.accordion-inner
													| Flooring Solutions Project Executives and installation crews are all well trained in the art of furniture lift.  We own all our own equipment and have the ability to have custom hinges made on short notice.  On projects where furniture lift is not required we have the ability to dismantle and store modular furniture until such time that new carpet is installed.
										.accordion-group
											.accordion-heading
												a.accordion-toggle.collapsed(href='#collapseFive', data-parent='#accordion2', data-toggle='collapse')
													| Furniture Removal and Storage
											#collapseFive.accordion-body.in.collapse(style='height: 0px;')
												.accordion-inner
													| need info here
										.accordion-group
											.accordion-heading
												a.accordion-toggle.collapsed(href='#collapseSix', data-parent='#accordion2', data-toggle='collapse')
													| Off Gassing
											#collapseSix.accordion-body.in.collapse(style='height: 0px;')
												.accordion-inner
													| We have provided off gassing successfully for a number of projects.  In one instance we provided 60,000 square feet of warehouse space and in one other case we built racks about 20 feet high that were used for carpet tile.  Additionally we have worked with manufacturers who have off gassed at their facility prior to shipping.
										.accordion-group
											.accordion-heading
												a.accordion-toggle.collapsed(href='#collapseSeven', data-parent='#accordion2', data-toggle='collapse')
													| Floor Leveling and Surveys
											#collapseSeven.accordion-body.in.collapse(style='height: 0px;')
												.accordion-inner
													| Among various other tools Flooring Solutions owns a floor leveling laser that delivers readings with 98% accuracy.  Over the past years we have invested approximately $250,000 in state of the art machinery.  We have full time staff certified by every material and equipment manufacturer.
										.accordion-group
											.accordion-heading
												a.accordion-toggle.collapsed(href='#collapseEight', data-parent='#accordion2', data-toggle='collapse')
													| Recycling
											#collapseEight.accordion-body.in.collapse(style='height: 0px;')
												.accordion-inner
													| We are proud to say that we are at 95% of our recycling goal.  All flooring materials that are taken up and brought back to Flooring Solutions are 100% recycled.
										.accordion-group
											.accordion-heading
												a.accordion-toggle.collapsed(href='#collapseNine', data-parent='#accordion2', data-toggle='collapse')
													| Maintenance
											#collapseNine.accordion-body.in.collapse(style='height: 0px;')
												.accordion-inner
													| We have two full-time certified "stain masters" on staff.   Not only do we provide documents that show our customers how to maintain their investment, we teach their staff how to do it themselves.  More often than none we are only called upon to do quarterly maintenance.