extend layout
block content
	.page-title.page-title-blue.stacked-title
		.container
			.row.show-grid
				.span12
					h1 Services
	.main-content
			.container
					.row.show-grid
						.span12
							.row.show-grid
								#left-sidebar.span3.sidebar
									.sidebar-baloon.sidebar-grey-box
										p
											| If you can’t find the answer to your question in our documentation or FAQs page please contact our support team at the email address below.
										p
											strong Email Support
											br
											a(href='mailto:support@redesign.com') support@redesign.com
										p
											| If you’d like to consider hiring us to customize the reDesign theme for your organization then please contact our sales team for a price quotation.
										p
											strong Email Sales
											br
											a(href='mailto:sales@redesign.com') sales@redesign.com
								.span9.main-column.two-columns-left
									h2.faq-title FAQ Group 1
									#accordion2.accordion
										.accordion-group
											.accordion-heading
												a.accordion-toggle.collapsed(href='#collapseOne', data-parent='#accordion2', data-toggle='collapse')
													| What services do you provide?
											#collapseOne.accordion-body.collapse(style='height: 0px;')
												.accordion-inner
													| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Integer sed arcu massa. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat.
										.accordion-group
											.accordion-heading
												a.accordion-toggle.collapsed(href='#collapseTwo', data-parent='#accordion2', data-toggle='collapse')
													| What aftersales support do you offer?
											#collapseTwo.accordion-body.collapse(style='height: 0px;')
												.accordion-inner
													| Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
										.accordion-group
											.accordion-heading
												a.accordion-toggle(href='#collapseThree', data-parent='#accordion2', data-toggle='collapse')
													| How much will it cost?
											#collapseThree.accordion-body.in.collapse(style='height: auto;')
												.accordion-inner
													| Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
									h2.faq-title FAQ Group 2
									.toggle-box.accordion
										.accordion-group
											.accordion-heading
												a.accordion-toggle(href='#collapseThree1', data-toggle='collapse')
													| How much will it cost?
											#collapseThree1.accordion-body.in.collapse(style='height: auto;')
												.accordion-inner
													| Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt