extend layout
block content
	.page-title.page-title-green.stacked-title
		.container
			.row.show-grid
				.span12
					h1 Management Team
	.main-wrapper
		.main-content
				.container
					.row.show-grid 
						.span12
							.row.show-grid.team-member
								.span5.photo
									.bordered-img
										img(alt='',style='width:100%;', src='/images/personnel/management_team.png')
								.span7
									h2 
									p
										| Faizi Syed, who founded Flooring Solutions, is accompanied by Tina Delleo and Jackie Hatfield. Tina has been with Faizi for 21 years and brings a wealth of knowledge to the team by having worked in every department of Flooring Solutions. Jackie's experience in dealing with personnel and people has enabled her to head the HR department of Flooring Solutions.
							.row.show-grid.team-member
								.span4
									.photo
										h3 Faizi Syed
										ul
											li(style="text-align:left;")
												span 703-547-1364
												i.icon-phone
											li(style="text-align:left;")
												span
													a(href='mailto:faizi@flooringsolutionsinc.com') faizi@flooringsolutionsinc.com
												i.icon-envelope
								.span4
									.photo
										h3 Tina Delleo
										ul
											li(style="text-align:left;")
												span 703-547-1366
												i.icon-phone
											li(style="text-align:left;")
												span
													a(href='mailto:kdelleo@flooringsolutionsinc.com') kdelleo@flooringsolutionsinc.com
												i.icon-envelope
								.span4
									.photo
										h3 Jackie Hatfield
										

							