extend layout
block content
	.page-title.page-title-green.stacked-title
		.container
			.row.show-grid
				.span12
					h1 FSI Team
	.main-wrapper
		.main-content
				.container
					.row.show-grid 
						.span12
							.row.show-grid.team-member
								.span5.photo
									.bordered-img
										img(alt='',style='width:100%;', src='/images/Personnel/management_team.png')
								.span7
									h3 Management Team
									p
										| Faizi Syed, who founded Flooring Solutions, is accompanied by Tina Delleo, Jackie Hatfield, and . Tina has been with Faizi for 21 years and has worked her way to becoming the CFO of FLooring Solutions, Inc. Jackie's years of experience in dealing with personnel and people has enabled her to head the HR department of Flooring Solutions.  Kristine Johnson was hired by Faizi Syed in 1988.  Since then Kristine has worked in every department of FSI and is an integral part of the company.
							
							.row.show-grid.team-member
								.span7
									h3 Project Executives
									p
										| FSI has a team of highly qualified project executives that lead their own teams, ensuring quality and customer satisfaction. Together they bring 36 years of experience. Alex, Mauricio and Jefferson have received extensive training at FSI, then at the project site and several certifications from manufacturers thru their certifications process.
								.span5.photo
									.bordered-img
										img(alt='Project Executives',style="width:100%",src='/images/Personnel/projectexec.png')
							.row.show-grid.team-member
								.span5.photo
									.bordered-img
										img(alt='',style='width:100%;', src='/images/Personnel/salesTeam.jpg')
								.span7
									h3 Sales Team
									p
										| The Flooring Solutions Sales Team is comprised of qualified sales professionals, who have specialized in corporate, interior healthcare, mixed use condominiums, floor leveling, and moisture mitigation to name a few.  This team is capable of handling any type or size of project with which they are challenged.
							