extend layout
block content
	.main-wrapper
		.main-content
				.container
					.row.show-grid 
						.span12
							.row.show-grid.team-member
								.span3.photo
									.bordered-img
										img(alt='', src='img/member2.jpg')
									ul
										li
											span 214.235-9001
											i.icon-phone
										li
											span
												a(href='mailto:cgreen@redesign.com') cgreen@redesign.com
											i.icon-envelope
										li
											span
												a(href='www.redesign.com/greenblog') www.redesign.com/greenblog
											i.icon-globe
										li
											span
												a(href='facebook.com/redesign/green') facebook.com/redesign/green
											i.icon-facebook-sign
								.span9
									h2 Faizi Syed
									h4 Founder & CEO
									p.experience
										em 24 years experience in healthcare
									p
										| 1998 founded Flooring Solutions, Inc. which has completed more than 3.6M sqft. in healthcare. 

									p
										| Current product consultant to Inova Hospitals with regards to product selection and placement

							.row.show-grid.team-member
								.span3.photo
									.bordered-img
										img(alt='', src='img/member1.jpg')
									ul
										li
											span 214.235-9001
											i.icon-phone
										li
											span
												a(href='mailto:cgreen@redesign.com') cgreen@redesign.com
											i.icon-envelope
										li
											span
												a(href='www.redesign.com/greenblog') www.redesign.com/greenblog
											i.icon-globe
										li
											span
												a(href='facebook.com/redesign/green') facebook.com/redesign/green
											i.icon-facebook-sign
								.span9
									h2 Lucy Green
									h4 Director of Marketing
									p.experience
										em 12 years experience as a designer, art director and creative director
									p
										| Aenean lacinia bibendum nulla sed consectetur. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									p
										| Aenean lacinia bibendum nulla sed consectetur. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
							.row.show-grid.team-member
								.span3.photo
									.bordered-img
										img(alt='', src='img/member3.jpg')
									ul
										li
											span 214.235-9001
											i.icon-phone
										li
											span
												a(href='mailto:cgreen@redesign.com') cgreen@redesign.com
											i.icon-envelope
										li
											span
												a(href='www.redesign.com/greenblog') www.redesign.com/greenblog
											i.icon-globe
										li
											span
												a(href='facebook.com/redesign/green') facebook.com/redesign/green
											i.icon-facebook-sign
								.span9
									h2 Anna Brown
									h4 Designer
									p.experience
										em 16 years experience as a designer, art director and creative director
									p
										| Aenean lacinia bibendum nulla sed consectetur. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									p
										| Aenean lacinia bibendum nulla sed consectetur. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
							.row.show-grid.team-member
								.span3.photo
									.bordered-img
										img(alt='', src='img/member4.jpg')
									ul
										li
											span 214.235-9001
											i.icon-phone
										li
											span
												a(href='mailto:cgreen@redesign.com') cgreen@redesign.com
											i.icon-envelope
										li
											span
												a(href='www.redesign.com/greenblog') www.redesign.com/greenblog
											i.icon-globe
										li
											span
												a(href='facebook.com/redesign/green') facebook.com/redesign/green
											i.icon-facebook-sign
								.span9
									h2 John Doe
									h4 Art Director
									p.experience
										em 16 years experience as a designer, art director and creative director
									p
										| Aenean lacinia bibendum nulla sed consectetur. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									p
										| Aenean lacinia bibendum nulla sed consectetur. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
