extends ../layout
block append content
	.page-title.page-title-green.stacked-title
		.container
			.row.show-grid
				.span12
					h1 Products
	.main-content
		.container
				.row.show-grid
					.span12
						.row.show-grid.clear-both
							#left-sidebar.span3.sidebar
								.side-nav.sidebar-block.left-side-nav
									ul
										li.first-nav-child.active
											a(href='/arts') Arts and Entertainment
											.side-tick.left-side-tick
										li
											a(href='/commercial') Commercial
											.side-tick.left-side-tick
										li
											a(href='/condominiums') Condominiums and Hospitality 
											.side-tick.left-side-tick
										li
											a(href='/education') Education
											.side-tick.left-side-tick
										li
											a(href='/floorleveling') Floor Leveling
											.side-tick.left-side-tick
										li
											a(href='/government') Government
											.side-tick.left-side-tick
										li
											a(href='/health') Health
											.side-tick.left-side-tick
										li.last-nav-child
											a(href='/lawfirms') Law Firms
											.side-tick.left-side-tick
							.span9.main-column.two-columns-left
								article
									p
										| Smithsonian Natural History Museum
