extends ../layout
block append content
	.page-title.page-title-green.stacked-title
		.container
			.row.show-grid
				.span12
					h1 Projects
	.main-content
		.container
				.row.show-grid
					.span12
						.row.show-grid.clear-both
							#left-sidebar.span3.sidebar
								.side-nav.sidebar-block.left-side-nav
									ul
										li.first-nav-child.active
											a(href='/commercial') Commercial
											.side-tick.left-side-tick
										li
											a(href='/condominiums') Condominiums and Hospitality 
											.side-tick.left-side-tick
										li
											a(href='/education') Education
											.side-tick.left-side-tick
										
										li
											a(href='/government') Government
											.side-tick.left-side-tick
										li
											a(href='/health') Health
											.side-tick.left-side-tick
										li.last-nav-child
											a(href='/floorleveling') Floor Leveling
											.side-tick.left-side-tick
							.span9.main-column.two-columns-left
							
								h2 Commercial Projects
								p Flooring Solutions  provides services for most flooring types: including carpet, multiple resilient flooring + base products, flash-coving, wood, laminate, floor leveling, ceramic tile, maintenance services, & environmentally certified projects.
								.span6
									table.table
										thead
											tr
												th Project
												th Total SF
										tbody.table-striped
											tr
												td Capitol One
												td 1,000,000
											tr
												td Corporate Executive Board
												td 625,000
											tr
												td Potomac Center North
												td 470,000
											tr
												td Brookings Institute
												td 380,000
											
								
				.portfolio-grid-1.main-block.col-wrapper
					
					ul#gallery-1.thumbnails.gallery(style="position:relative;")

						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Commercial/CBRE.JPG', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/CBRE.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Commercial/CBRE1.JPG', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/CBRE1.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Commercial/CBRE2.JPG', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/CBRE2.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Commercial/GateGourmet.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/GateGourmet.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Commercial/GateGourmetLobby.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/GateGourmetLobby.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Commercial/CACI.JPG', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/CACI.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Commercial/ceb008.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/ceb008.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Commercial/IMG_0015.JPG', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/IMG_0015.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Commercial/Linquest.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/Linquest.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Commercial/Linquest1.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/Linquest1.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Commercial/Scitor.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/Scitor.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Commercial/Scitor1.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/Scitor1.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Commercial/Scitor2.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/Scitor2.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Health/NationalCancerInst..jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/NationalCancerInst..jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Health/NCI.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/NCI.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Health/NCI1.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/NCI1.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Law-Firms/Venable.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/Venable.jpg')
						
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Law-Firms/WileyRein.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/WileyRein.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Law-Firms/WileyRein2.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/WileyRein2.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Law-Firms/WileyRein5.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/WileyRein5.jpg')
						li.span3.small.hp-wrapper.item.isotope-item()
							a.top-link.thumbnail(href='Projects_files/DSC00334a.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/DSC00334a.jpg')
						li.span3.small.hp-wrapper.item.isotope-item()
							a.top-link.thumbnail(href='Projects_files/DSC00338a.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/DSC00338a.jpg')
						li.span3.small.hp-wrapper.item.isotope-item()
							a.top-link.thumbnail(href='Projects_files/DSC00366a.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/DSC00366a.jpg')
						li.span3.small.hp-wrapper.item.isotope-item()
							a.top-link.thumbnail(href='Projects_files/DSC00331a.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='Projects_files/DSC00331a.jpg')


		