extends ../layout
block append content

	.page-title.page-title-green.stacked-title
		.container
			.row.show-grid
				.span12
					h1 Projects
	.main-content
		.container
				.row.show-grid
					.span12
						.row.show-grid.clear-both
							#left-sidebar.span3.sidebar
								.side-nav.sidebar-block.left-side-nav
									ul
										li.first-nav-child
											a(href='/arts') Arts and Entertainment
											.side-tick.left-side-tick
										li
											a(href='/commercial') Commercial
											.side-tick.left-side-tick
										li.active
											a(href='/condominiums') Condominiums and Hospitality 
											.side-tick.left-side-tick
										li
											a(href='/education') Education
											.side-tick.left-side-tick
										li
											a(href='/floorleveling') Floor Leveling
											.side-tick.left-side-tick
										li
											a(href='/government') Government
											.side-tick.left-side-tick
										li
											a(href='/health') Health
											.side-tick.left-side-tick
										li.last-nav-child
											a(href='/lawfirms') Law Firms
											.side-tick.left-side-tick
							.span9.main-column.two-columns-left
								h2 Projects
								p
									a(href="#gallery-0") Rockville Marriot
							
								p
									a(href="#gallery-1") Washington Hotel
								p
									a(href="#gallery-2") Willard Hotel
				.portfolio-grid-1.main-block.col-wrapper
					ul#gallery-0.thumbnails.gallery(style="position:relative;")
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Condominiums-Hospitality/Marriot(Rockville).jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/Condominiums-Hospitality/Marriot(Rockville).jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Condominiums-Hospitality/Marriott(Rockville2).jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/Condominiums-Hospitality/Marriott(Rockville2).jpg')
					ul#gallery-1.thumbnails.gallery(style="position:relative;")
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Condominiums-Hospitality/WashingtonHotel.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/Condominiums-Hospitality/WashingtonHotel.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Condominiums-Hospitality/WashingtonHotel1.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/Condominiums-Hospitality/WashingtonHotel1.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Condominiums-Hospitality/WHHallway.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/Condominiums-Hospitality/WHHallway.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Condominiums-Hospitality/WHStairs.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/Condominiums-Hospitality/WHStairs.jpg')
					ul#gallery-2.thumbnails.gallery(style="position:relative;")
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Condominiums-Hospitality/WillarHotel.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/Condominiums-Hospitality/WillarHotel.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Condominiums-Hospitality/WillardHotel.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/Condominiums-Hospitality/WillardHotel.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Condominiums-Hospitality/WillardHotel1.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/Condominiums-Hospitality/WillardHotel1.jpg')

	script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
	script
			$('.span9.main-column.two-columns-left p a').each(function(e){
					var href = $(this).attr('href');
					var val = $(this).text();
					$(href).prepend('<h3>'+val+'</h3>');
				})
		

