extends ../layout
block append content
	.page-title.page-title-green.stacked-title
		.container
			.row.show-grid
				.span12
					h1 Projects
	.main-content
		.container
				.row.show-grid
					.span12
						.row.show-grid.clear-both
							#left-sidebar.span3.sidebar
								.side-nav.sidebar-block.left-side-nav
									ul
										li.first-nav-child
											a(href='/commercial') Commercial
											.side-tick.left-side-tick
										li
											a(href='/condominiums') Condominiums and Hospitality 
											.side-tick.left-side-tick
										li
											a(href='/education') Education
											.side-tick.left-side-tick
										
										li
											a(href='/government') Government
											.side-tick.left-side-tick
										li
											a(href='/health') Health
											.side-tick.left-side-tick
										li.active.last-nav-child
											a(href='/floorleveling') Floor Leveling
											.side-tick.left-side-tick
							.span9.main-column.two-columns-left
								h2 Floor Leveling Projects
								p We provide scraping, shot blasting, grinding, and floor leveling for all rooms including areas with sensitive equipment and MRIs down to 1/16”, using all our own equipment and have a certified staff trained to carry out floor leveling processes. All floor-leveling surveys are completed in home to determine the degree required.
								
							
				.portfolio-grid-1.main-block.col-wrapper
					ul#gallery-0.thumbnails.gallery(style="position:relative;")
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/FloorLeveling/Picture3.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/Picture3.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/FloorLeveling/Picture4.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/Picture4.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/FloorLeveling/Picture2.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/Picture2.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/FloorLeveling/Picture1.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/Picture1.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Commercial/Airbus.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/Airbus.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Commercial/Airbus1.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/Airbus1.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Commercial/Airbus2.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/Airbus2.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Commercial/Airbus3.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/Airbus3.jpg')


