extends ../layout
block append content
	.page-title.page-title-green.stacked-title
		.container
			.row.show-grid
				.span12
					h1 Projects
	.main-content
		.container
				.row.show-grid
					.span12
						.row.show-grid.clear-both
							#left-sidebar.span3.sidebar
								.side-nav.sidebar-block.left-side-nav
									ul
										li.first-nav-child
											a(href='/commercial.html') Commercial
											.side-tick.left-side-tick
										li
											a(href='/condominiums.html') Condominiums and Hospitality 
											.side-tick.left-side-tick
										li
											a(href='/education.html') Education
											.side-tick.left-side-tick
										
										li
											a(href='/government.html') Government
											.side-tick.left-side-tick
										li.active
											a(href='/health.html') Health
											.side-tick.left-side-tick
										li.last-nav-child
											a(href='/floorleveling.html') Floor Leveling
											.side-tick.left-side-tick
							.span9.main-column.two-columns-left
								h2 Projects
								p Flooring Solutions has been the exclusive service provider for many healthcare facilities since our inception in 1998.  Our President has serviced a number of the facilities listed below since 1986, making him the only subcontractor to have serviced INOVA Healthcare for such an extended period of time.
								.span6
									table.table
										thead
											tr
												th Project
												th Total SF
										tbody.table-striped
											tr
												td Alexandria
												td 523,000
											tr
												td Fairfax
												td 1,800,000
											tr
												td Fair Oaks
												td 375,000
											tr
												td Loudoun
												td 289,000
											tr
												td Mount Vernon
												td 366,000
											tr
												td Stafford Hospital
												td 250,000
							
				.portfolio-grid-1.main-block.col-wrapper
					ul#gallery-0.thumbnails.gallery(style="position:relative;")
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Health/Alex.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/Alex.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Health/Alex1.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/Alex1.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Health/AlexandriaInova.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/AlexandriaInova.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Health/AlexINOVAALEXANDRIA.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/AlexINOVAALEXANDRIA.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Commercial/interiorlargephoto4.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/interiorlargephoto4.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Health/FairfaxPed.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/FairfaxPed.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Health/FF.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/FF.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Health/FF1.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/FF1.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Health/FF2.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/FF2.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Health/FF22.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/FF22.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Health/FF23.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/FF23.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Health/FF34.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/FF34.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Health/FF98766.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/FF98766.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Health/FFH.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/FFH.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Health/FFHI.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/FFHI.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Health/FO.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/FO.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Health/FO1.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/FO1.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Health/FO2.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/FO2.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Health/INOVAFF.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/INOVAFF.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Health/INOVAFO.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/INOVAFO.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Health/INOVALLoudoun.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/INOVALLoudoun.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Health/INOVALoudoun.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/INOVALoudoun.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Health/INOVALoudounICU.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/INOVALoudounICU.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Health/Loud.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/Loud.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Health/Loud1.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/Loud1.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Health/Loud2.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/Loud2.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Health/LoudounPeds.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/LoudounPeds.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Health/RestonH.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/RestonH.jpg')
						
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Health/Stafford0Hospital.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/Stafford0Hospital.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Health/Stafford1.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/Stafford1.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Health/Stafford3.jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/Stafford3.jpg')
						li.span3.small.hp-wrapper.item.isotope-item(style='float: left;')
							a.top-link.thumbnail(href='/images/Health/StaffordH..jpg', data-rel='group')
								img.hover-shade(alt='', src='img/gal_hover.png')
								img(alt='', style='width: 220px; height: 160px;', src='/images/thumbnails/StaffordH..jpg')
